.form-group
  label(for="title") Event Title 
  input.form-control(type="text", name="title", placeholder="Create your Events Title", value=question.title)
.form-group
  label(for="sector") Field of Events
  select.custom-select#sector(name="sector")
    option(selected value=question.sector)
      h7.content= question.sector
    option(value="Related_Movie") Related Movie
    option(value="Etc") ETC
.form-group#typeOfEvent
  label#typeE(for="typeOfEvents") Type of Events
  input.form-control#typeOfEventEtc(type='text' name='typeOfEvent' placeholder='Create your Event Sector and Event type' value=question.typeOfEvent)
  label#typeM(for="typeOfEvents") Type of Movie Events
  select.custom-select#typeOfEventM(name='typeOfEvent')
    option(selected value=question.typeOfEvent)
      h7.content= question.typeOfEvent
    option(value="Movie Preview") Movie Preview
    option(value="Talking about Movie") Talking about Movie
    option(value="Watching Movie") Watching Movie
    option(value="Events at the Cinema") Events at the Cinema
    option(value="Volunteering at the Cinema") Volunteering at the Cinema
    option(value="Redcarpet Travel") Redcarpet Travel
    option(value="Visit movie Museum") Visit movie Museum
.form-group
  label(for="locations") location
  select.custom-select#Loaction(name="location" question.location)
    option(selected value=question.location)
      h7.content= question.location
    option(value="Seoul") Seoul
    option(value="Busan") Busan
    option(value="Daegu") Daegu
    option(value="Gwangju") Gwangju
    option(value="Incheon") Incheon
    option(value="Daejeon") Daejeon
    option(value="Ulsan") Ulsan
    option(value="Gyeonggi-do") Gyeonggi-do
    option(value="Gangwon-do") Gangwon-do
    option(value="Jeollabuk-do") Jeollabuk-do
    option(value="Jeollanam-do") Jeollanam-do
    option(value="Chungcheongbuk-do") Chungcheongbuk-do
    option(value="Chungcheongnam-do") Chungcheongnam-do
    option(value="Gyeongsangbuk-do") Gyeongsangbuk-do
    option(value="Gyeongsangnam-do") Gyeongsangnam-do
    option(value="Jeju-do") Jeju-do
    option(value="Pyeongyang") Pyeongyang
    option(value="Gaeseong") Gaeseong
    option(value="USA") USA
    option(value="Global") Global
.form-group
  label(for="money") Free or Charged Ticket?
  select.custom-select#money(name="money")
    option(selected value=question.money)
      h7.content= question.money
    option(value="free") free
    option(value="charged") charge
.form-group#freeOrCharge
  label#typeE(for="Price") Price($)
  input.form-control#Price(type="number", name="Price", placeholder="How much do you want, Only numbers can be used, base currency is dollar." value=question.Price)

.form-group
  label(for='SDate') Check IN
    input.form-control(type='text', id='SDate', name='SDate' value=question.ViewSDate)
.form-group
  label(for='FDate') Check Out
    input.form-control(type='text', id='FDate', name='FDate' value=question.ViewFDate)


.form-group
  label(for="startshour") Start time of the event
  select.custom-select#startshour(name="startshour")
    option(selected value=question.startshour)
      h7.content= question.startshour
    option(value="00") 00
    option(value="01") 01
    option(value="02") 02
    option(value="03") 03
    option(value="04") 04
    option(value="05") 05
    option(value="06") 06
    option(value="07") 07
    option(value="08") 08
    option(value="09") 09
    option(value="10") 10
    option(value="11") 11
    option(value="12") 12
    option(value="13") 13
    option(value="14") 14
    option(value="15") 15
    option(value="16") 16
    option(value="17") 17
    option(value="18") 18
    option(value="19") 19
    option(value="20") 20
    option(value="21") 21
    option(value="22") 22
    option(value="23") 23
  |
  |
  span :
  select.custom-select#startsmin(name="startsmin")
    option(selected value=question.startsmin)
      h7.content= question.startsmin
    option(value="00") 00
    option(value="01") 01
    option(value="02") 02
    option(value="03") 03
    option(value="04") 04
    option(value="05") 05
    option(value="06") 06
    option(value="07") 07
    option(value="08") 08
    option(value="09") 09
    option(value="10") 10
    option(value="11") 11
    option(value="12") 12
    option(value="13") 13
    option(value="14") 14
    option(value="15") 15
    option(value="16") 16
    option(value="17") 17
    option(value="18") 18
    option(value="19") 19
    option(value="20") 20
    option(value="21") 21
    option(value="22") 22
    option(value="23") 23 
    option(value="23") 24 
    option(value="23") 25 
    option(value="23") 26 
    option(value="23") 27 
    option(value="23") 28 
    option(value="23") 29 
    option(value="23") 30 
    option(value="23") 31 
    option(value="23") 32 
    option(value="23") 33 
    option(value="23") 34 
    option(value="23") 35 
    option(value="23") 36 
    option(value="23") 37 
    option(value="23") 38 
    option(value="23") 39 
    option(value="23") 40 
    option(value="23") 41 
    option(value="23") 42 
    option(value="23") 43 
    option(value="23") 44 
    option(value="23") 45 
    option(value="23") 46 
    option(value="23") 47 
    option(value="23") 48 
    option(value="23") 49 
    option(value="23") 50 
    option(value="23") 51 
    option(value="23") 52 
    option(value="23") 53 
    option(value="23") 54 
    option(value="23") 55 
    option(value="23") 56 
    option(value="23") 57 
    option(value="23") 58 
    option(value="23") 59
  h7 (If you span several days, Select when you Start every day.)
.form-group
  label(for="finishshour") Finish time of the event
  select.custom-select#finishshour(name="finishshour")
    option(selected value=question.finishshour)
      h7.content= question.finishshour
    option(value="00") 00
    option(value="01") 01
    option(value="02") 02
    option(value="03") 03
    option(value="04") 04
    option(value="05") 05
    option(value="06") 06
    option(value="07") 07
    option(value="08") 08
    option(value="09") 09
    option(value="10") 10
    option(value="11") 11
    option(value="12") 12
    option(value="13") 13
    option(value="14") 14
    option(value="15") 15
    option(value="16") 16
    option(value="17") 17
    option(value="18") 18
    option(value="19") 19
    option(value="20") 20
    option(value="21") 21
    option(value="22") 22
    option(value="23") 23
  | 
  |
  span :
  select.custom-select#finishsmin(name="finishsmin")
    option(selected value=question.finishsmin)
      h7.content= question.finishsmin
    option(value="00") 00
    option(value="01") 01
    option(value="02") 02
    option(value="03") 03
    option(value="04") 04
    option(value="05") 05
    option(value="06") 06
    option(value="07") 07
    option(value="08") 08
    option(value="09") 09
    option(value="10") 10
    option(value="11") 11
    option(value="12") 12
    option(value="13") 13
    option(value="14") 14
    option(value="15") 15
    option(value="16") 16
    option(value="17") 17
    option(value="18") 18
    option(value="19") 19
    option(value="20") 20
    option(value="21") 21
    option(value="22") 22
    option(value="23") 23 
    option(value="23") 24 
    option(value="23") 25 
    option(value="23") 26 
    option(value="23") 27 
    option(value="23") 28 
    option(value="23") 29 
    option(value="23") 30 
    option(value="23") 31 
    option(value="23") 32 
    option(value="23") 33 
    option(value="23") 34 
    option(value="23") 35 
    option(value="23") 36 
    option(value="23") 37 
    option(value="23") 38 
    option(value="23") 39 
    option(value="23") 40 
    option(value="23") 41 
    option(value="23") 42 
    option(value="23") 43 
    option(value="23") 44 
    option(value="23") 45 
    option(value="23") 46 
    option(value="23") 47 
    option(value="23") 48 
    option(value="23") 49 
    option(value="23") 50 
    option(value="23") 51 
    option(value="23") 52 
    option(value="23") 53 
    option(value="23") 54 
    option(value="23") 55 
    option(value="23") 56 
    option(value="23") 57 
    option(value="23") 58 
    option(value="23") 59 
  h7 (If you span several days, Select when you Finish every day.) 
.form-group
  label(for="question") Details of the event
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="name") Name(Who am i?)
  input.form-control(type="text", name="name", placeholder="Registration Organization name Or Personal name", value=question.name)
.form-group
  label(for="nameDetail") Details of Organization
  textarea.form-control(name="nameDetail", rows="3" placeholder="Explain what organization you are.")= question.nameDetail
.form-group
  label(for="tags") tag
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")

  
script(src='/javascripts/question_edit.js')   